body {
  background: #ebe8d0; }

.page-header {
  height: 15.625rem; }

.page-body {
  border-top: 1px solid #a79355; }
  .page-body .content {
    width: 55%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 0 auto; }

.page-sidebar {
  width: 27%; }
  .page-sidebar .siderbar-title {
    box-sizing: border-box;
    padding: 2.25rem 1.25rem;
    margin: 0;
    height: 5rem; }
  .page-sidebar .siderbar-body {
    margin: .75rem 0;
    padding: 0 1.25rem;
    font-family: Georgia, serif;
    font-size: .75rem;
    line-height: 1.5; }

.siderbar-right {
  font-style: italic;
  color: #66472E; }

.siderbar-left a {
  text-decoration: none;
  color: #703f0e; }

.siderbar-left a:hover {
  color: #616623;
  text-decoration: underline; }

.siderbar-left li {
  display: block;
  box-sizing: border-box;
  padding: 0.25rem 0;
  color: #baab77; }
  .siderbar-left li a:first-child {
    display: block;
    font-weight: 900;
    font-size: .8125rem;
    padding: .1rem 0; }
  .siderbar-left li a:last-child {
    color: #898c55; }

.page-content {
  width: 46%;
  border-left: 1px solid #a79355;
  border-right: 1px solid #a79355; }
  .page-content .article-body {
    margin: .75rem 0;
    padding: 0 1.25rem;
    font-family: Georgia, serif;
    font-size: .82rem;
    line-height: 1.5; }
    .page-content .article-body a {
      font-weight: 800;
      text-decoration: none;
      color: #703f0e; }
  .page-content .title-container {
    height: 2.5rem;
    border-top: 1px solid #a79355;
    border-bottom: 1px solid #a79355;
    background: #dbc234; }
    .page-content .title-container .content-title {
      margin: 0;
      padding: 0 1rem;
      vertical-align: middle;
      line-height: 2.5rem;
      color: #703f0e; }
  .page-content .page-footer {
    position: relative;
    margin-bottom: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .page-content .page-footer a {
      float: left;
      padding: 0 0.5em;
      color: #703f0e;
      font-size: .75rem;
      text-decoration: none; }
    .page-content .page-footer a:hover {
      color: #616623;
      text-decoration: underline; }
  .page-content .page-footer::after {
    position: absolute;
    left: 0;
    bottom: -1.3rem;
    content: "";
    height: .625rem;
    width: 100%;
    background: #bdaf83; }
  .page-content .big-title {
    height: 5rem;
    border-top: 0 none; }
