//body
//==========================================
body {
	background: $body-bg-color;
}

//header
//==========================================
.page-header {
	height: 15.625rem;
}

//page-body
//============================================
.page-body {
	border-top: 1px solid $border-color;
	.content {
		width: 55%;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		margin:0 auto;
	}
}

.page-sidebar {
	width: 27%;
	.siderbar-title {
		box-sizing: border-box;
		padding: 2.25rem 1.25rem;
		margin: 0;
		height: 5rem;
	}
	.siderbar-body {
		margin: .75rem 0;
		padding: 0 1.25rem;
		font-family: Georgia, serif;
		font-size: .75rem;
		line-height: 1.5;
	}
}

.siderbar-right {
	font-style: italic;
	color: #66472E;
}

.siderbar-left {
	a{
		text-decoration: none;
		color: #703f0e; 
	}

	a:hover {
		color: #616623;
		text-decoration: underline; 
	}

	li {
		display: block;
		box-sizing: border-box;
		padding: 0.25rem 0;
		color: #baab77;
		a:first-child {
			display: block;
			font-weight: 900;
			font-size: .8125rem;
			padding: .1rem 0;
		} 
		a:last-child {
			color: #898c55;
		}
	}
}

.page-content {
	width: 46%;
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;

	.article-body {
		margin: .75rem 0;
		padding: 0 1.25rem;
		font-family: Georgia, serif;
		font-size: .82rem;
		line-height: 1.5;
		a {
			font-weight: 800;
			text-decoration: none;
			color: #703f0e; 
		}
	}

	.title-container {
		height: 2.5rem;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		background: $content-title-bg;
		
		.content-title{
			margin: 0;
			padding: 0 1rem;
			vertical-align: middle;
			line-height: 2.5rem;
			color: $content-title-color;
		}
	}

	.page-footer {
		position: relative;
		margin-bottom: 1.25rem;
		display: flex;
    align-items: center;
    justify-content: center;
		a {
			float: left;
			padding: 0 0.5em;
			color: #703f0e;
			font-size: .75rem;
			text-decoration: none; 
		}

		a:hover {
      color: #616623;
			text-decoration: underline; 
		}
	}

	.page-footer::after {
		position: absolute;
		left: 0;
		bottom: -1.3rem;
		content: "";
		height: .625rem;
		width: 100%;
		background: #bdaf83;
	}

	.big-title {
		height: 5rem;
		border-top: 0 none;
	}
}
