body{
	background:$color-body-bg;
	font-family:'Georgia';
	font-size:62.5%;
}

/*中间内容*/

.content-main{
	float:left;
	width:730px;
	box-sizing:border-box;
	.main-subject{
		border-left:none;
		border-right:none;
	}
	.main-container{
		position:relative;
		top:0;
		left: 0;
		height: 100%;
		.content{
			float:left;
			box-sizing:border-box;
			width: 28%;
			height: 100%;
			p{
				padding: 0 1.5em 0.3em;
				line-height: 1.5;
				font-size: $p-size;
				font-weight: 500;
				color:$color-p;
			}
			a{
				text-decoration: none;
				color:$color-first-li;
				&:hover{
					color:$color-a-hover;
					text-decoration:underline;
				}
			}
		}

		/*左边内容*/

		.container-side-left{
			ul{
				padding:10px 0 0 0;
			}
			li{
				display: block;
				box-sizing:border-box;
				padding:0.5em 0;
				span{
					font-size: $second-li-size;
					margin-left: 1.5em;
					color: #baab77;
				}
				a{
					text-decoration: none;
					&:hover{
    				text-decoration:underline;
    			}
				}
			}
			li a:first-child {
				display: block;
      	color: $color-first-li;
      	font-size: $first-li-size;
      	font-weight: 600;
      	font-family: Arial;
      	&:hover{
      		color:$color-a-hover;
      	}
    	}
    	li a:nth-child(3) {
      	color: $color-second-li;
      	font-size: $second-li-size;
      	&:hover{
      		color:$color-a-hover;
      	}
			}
			.fa-file-text{
				color: $color-file-text;
			}
			.fa-circle{
			color:$color-fa-circle;
			}
		}

		.container-main{
			width: 44%;
			border-left:1px solid $border-solid;
			border-right:1px solid $border-solid;
		}

		.container-side-right p{
			font-style:italic;
			color:$container-side-r-p;
		}
	}
}

/*头部*/

.content-secondly{
	float:left;
	margin:0 0 0 -366px;
	box-sizing:border-box;
	width:50%;
}

.subject{
	position:relative;
	box-sizing:border-box;
	height:264px;
	border:1px solid $border-solid;
	border-top: none;
	.subject-img{
		z-index:-1;
		position: absolute;
		top: 50%;
		left: 50%;
		box-sizing: border-box;
		width:$width;
		height: 118px;
		border-top:1px solid $border-solid;
		border-bottom:1px solid $border-solid;
		transform: translate(-50%, -50%);
		background:url(../images/bg_pattern.gif);
	}
	.main-subject-img{
		background:url(../images/bg_beautyof.jpg);
	}
	.subject-bottom{
		position:absolute;
		left:0;
		bottom:$nav-bottom-h;
		box-sizing: border-box;
		width:$width;
		height:$nav-bottom-h;
		line-height: $nav-bottom-h;
		border:1px solid  $border-solid;
		border-left:none;
		border-right:none;
		background:$nav-bottom-bg;
		overflow: hidden;
	}
}

.content-secondly .subject{
	margin:0 0 0 366px;
}

.content-secondly.left .subject{
	border-left:0 none;
}

.content-secondly.right .subject{
	border-right:0 none;
}

/*header title*/

.main-subject{
	.main-subject-small-title-top{
		position: absolute;
    left: 30px;
    top: 40px;
    font-size: 1.5em;
    font-weight: bold;
    color:$color-main-subject-small-title-top;
    span{
    	color: #684a31;
    }
	}
	.main-subject-img p{
		position: absolute;
    right: 30px;
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
    color:$color-main-subject-small-title-top;
    span{
    	color: #684a31;
    }
	}
	.main-subject-small-title-middle{
		position: absolute;
    bottom: 40px;
    left: 30px;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: bold;
    color:$color-main-subject-small-title-middle;
    span{
    	color:#9e8f5c;
    }
	}
	.subject-bottom p{
		font-size: 0.8em;
    margin: 0 0 0 30px;
    padding: 0;
    color:#fff;
	}
}

.container-title{
	position: relative;
	width:$width;
	height: $middle-header-h;
	box-sizing: border-box;
	line-height: 1.2;
	text-align: left;
	padding-top: 35px;
	border-bottom:1px solid $border-solid;
	h3{
		margin: 0 0 0 0;
		font-size: 1.8em;
		font-weight: normal;
		color: #c1ba93;
		span{
		color:$color-main-bottom;
		font-weight: bold;
		}
		.special{
			color: #636825;
		}
	}
}

/*伪元素横线*/

.side-title{
	width: 80%;
}

.container-title .side:after{
	position: absolute;
	content: "";
  width: 100%;
  left: 0;
	border-top: 1px solid $border-solid;
}

.side-title-right{
	margin-left: 20px;
}

/*中间主内容大标题*/

.main-total-title{
	padding-top:0;
	line-height: 1.6;
	text-align: left;
	background:#e0e0a2;
	h3{
		font-size: 2.6em;
		margin: 0 0 0 20px;
		color:$color-main-bottom;
		span{
			margin: 0 0 0 40px;
		}
	}
}

/*中间主内容小标题*/

.main-small-title{
	height:$main-small-title;
	line-height: $main-small-title;
	border-top:1px solid $border-solid;
	border-bottom:1px solid $border-solid;
	text-align: left;
	background:#e0e0a2;
	h3{
		font-size: 2em;
		margin: 0 0 0 20px;
		color:$color-main-bottom;
	}
}

/*左边内容小标题*/
.side-small-title{
	position: relative;
	width: 80%;
	height:$main-small-title;
	border-bottom:1px solid $border-solid;
	h3{
		position: absolute;
		left: 0;
		bottom: -4px;
		width: 100%;
		margin: 0;
		font-size: 1.8em;
		color: #636825;
	}
}

/*中间主内容底部*/

.main-bottom{
	position: relative;
	margin-bottom: 20px;
	ul{
		position: absolute;
    left: 50%;
		top: 50%;
		width: 176px;
    transform: translate(-50%,-50%);
	}
	li{
		float: left;
	}
	a{
		float: left;
		padding: 0 0.5em;
		color:$color-main-bottom;
		text-decoration: none;
		&:hover{
			color:$color-a-hover;
			text-decoration: underline;
		}
	}
}
.main-bottom:after{
	position:absolute;
	left: 0;
	bottom: -20px;
	content:"";
	height: 10px;
	width:100%;
	background:$nav-bottom-bg;
}

/*clear both*/

.container-main:before,
.container-main:after {
	content: "";
	display: table;
}
.container-main:after {
	clear: both;
}

.main-container:before,
.main-container:after {
	content: "";
	display: table;
}
.main-container:after {
	clear: both;
}


/*0-992*/

@media(min-width:0) and (max-width: 996px){
	.content-secondly{
		display: none;
	}
	.content-main{
		width: 100%;
		.main-container .content p{
			font-size: 3em;
		}
		.container-side-left{
			padding-left: 20px;
			li{
				font-size: 2.5em;
			}
		}
	}
}


