//body
//==========================================
body {
	background: $body-bg-color;
}

//header
//==========================================
.page-header {
	position: relative;
	width: 45.72rem;
	height: 15.625rem;
	margin:0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;

	.site-txt {
		padding: 0 2.5rem;
		margin: 0;
		align-self: flex-start;
		color: $site-txt-color;
		font-size: .75rem;
	}

	.site-title {
		margin-bottom: .75rem;
		color: $site-txt-color;
		text-decoration: none;
		font-weight: normal;

		span {
			color: #703f0e; 
			font-weight: 800;
		}
	}

	.text-summary{
		padding: .75rem 2.5rem;
	}
	
	.text-explain {
		position: absolute;
		box-sizing: border-box;
		width: 100%;
		height: 1rem;
		bottom: 1rem;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		background: #bdaf83;
		color: #fff;
	}


	.site-image{
		width: 100%;
		height: 7.1875rem;
		text-align: right;
		font-family: Georgia, serif;
		font-size: .75rem;
		color: $site-txt-color;
		background: url(../images/bg_beautyof.jpg) no-repeat;
		p{
			display: inline-block;
			width: 12.5rem;
			padding: 0 2.5rem;
		}
		a {
			display: inline-block;
			font-weight: 800;
			font-family: Verdana, Arial, sans-serif;			
			text-decoration: none;
			color: #703f0e; 
		}
	}
}

.page-header::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: -100%;
	top: 0;
	border-bottom: 1px solid $border-color;
}

.page-header::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	right: -100%;
	top: 0;
	border-bottom: 1px solid $border-color;
}

//page-body
//============================================
.page-body {
	width: 45.72rem;
	//width: 38%;
	margin:0 auto;
	border-top: 1px solid $border-color;
	.content {
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
	}
}

.page-sidebar {
	width: 27%;

	.siderbar-item{
		position: relative;
	}
	.siderbar-title {
		box-sizing: border-box;
		padding: 2.25rem 1.25rem;
		margin: 0;
		height: 5rem;
		color: #703f0e; 
	}

	.siderbar-small-title{
		padding: 1.25rem 1.25rem;
		margin: 0;
		color: #703f0e;
	}

	.siderbar-body {
		margin: .75rem 0;
		padding: 0 1.25rem;
		font-family: Georgia, serif;
		font-size: .75rem;
		line-height: 1.5;
	}
}

.left {
	margin-left: -1.25rem;
	margin-right: 1.25rem;
}

.siderbar-title::before {
	content: "";
	position: absolute;
	width: 90%;
	height: 1px;
	top: 3.3rem;
	border-bottom: 1px solid $border-color;
}

.siderbar-title::after {
	content: "";
	position: absolute;
	width: 90%;
	height: 1px;
	top: 4.6rem;
	right: 0;
	border-bottom: 1px solid $border-color;
}

.siderbar-small-title::before {
	content: "";
	position: absolute;
	width: 90%;
	height: 1px;
	top: 2.3rem;
	border-bottom: 1px solid $border-color;
}

.siderbar-right {
	font-style: italic;
	color: #66472E;
}

.siderbar-left {
	a{
		text-decoration: none; 
	}

	a:hover {
		color: #616623;
		text-decoration: underline; 
	}

	li {
		display: block;
		box-sizing: border-box;
		padding: 0.25rem 0;
		color: #baab77;
		font-size: .75rem;

		a:last-child {
			color: #898c55;
		}

		a:first-child {
			display: block;
			color: #703f0e;
			font-weight: 900;
			font-size: .75rem;
			padding: .1rem 0;
		} 
	}
}

.page-content {
	width: 46%;
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;

	.article-body {
		margin: .75rem 0;
		padding: 0 1.25rem;
		font-family: Georgia, serif;
		font-size: .82rem;
		line-height: 1.5;
		a {
			font-weight: 800;
			text-decoration: none;
			color: #703f0e; 
		}
	}

	.title-container {
		height: 2.5rem;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		background: $content-title-bg;
		
		.content-title{
			margin: 0;
			padding: 0 1rem;
			vertical-align: middle;
			line-height: 2.5rem;
			color: $content-title-color;
		}
	}

	.page-footer {
		position: relative;
		margin-bottom: 1.25rem;
		display: flex;
    align-items: center;
    justify-content: center;
		a {
			float: left;
			padding: 0 0.5em;
			color: #703f0e;
			font-size: .75rem;
			text-decoration: none; 
		}

		a:hover {
      color: #616623;
			text-decoration: underline; 
		}
	}

	.page-footer::after {
		position: absolute;
		left: 0;
		bottom: -1.3rem;
		content: "";
		height: .625rem;
		width: 100%;
		background: #bdaf83;
	}

	.big-title {
		height: 5rem;
		border-top: 0 none;
	}
}
