$width:100%;
$height:100%;
$nav-bottom-h:16px;
$middle-header-h-specila:70px;
$middle-header-h:82px;
$li-height:3em;

$p-padding-lr:2em;
$p-size:1.4em;
$first-li-size:1.3em;
$second-li-size:1.2em;

$color-body-bg:#ebe8d0 !default;
$border-solid:#a79355 !default;
$nav-bottom-bg:#bdaf83 !default;
$color-first-li:#703f0e !default;
$text-color:#494946 !default;
$color-li-hover:#616623 !default;
$color-second-li:#767b3e !default;
$main-small-title:50px !default;
$container-side-r-p:#66472e !default;
$color-main-subject-small-title-top:#a89457 !default;
$color-main-subject-small-title-middle:#beb48c !default;
$color-p:#333333;
$color-main-bottom:#703f0e;
$color-a-hover:#616623;
$color-file-text:#a79355;
$color-fa-circle:#bbac7d;
